* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/connectwork.png");
}

.portfolioContainer{
    display:block;
    height: 875px;
    width: 960px;
    margin-left: 220px;
    margin-right: 220px;
    border: 1px solid #dddddd;
    margin-top: 40px;
    background-color: white;
}

.contact {
    display:block;
    height: 600px;
    width: 960px;
    margin-left: 220px;
    margin-right: 220px;
    border: 1px solid #dddddd;
    margin-top: 40px;
    background-color: white;
}

.menu {
    float: right;
    position: relative;
    top: 30px;
    right: 255px;
}

.label {
    height: 50px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5; 
    position: absolute;
    top: 150px;
    color: white;
    text-align: center;
    padding-top: 15px;
}

.name {
    padding-left: 30px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.email {
    padding-left: 30px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.message {
    padding-left: 30px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.submit {
    padding-left: 30px;
    margin-top: 15px;
}

input {
    width: 896px;
    height: 25px;
    margin-top: 8px;
}

.message input {
    height: 250px;
    margin-top: 8px;
}

.submit input {
    width: 65px;
    background-color: #4aaaa5;
    color: white;
}

section {
    height: 90px;
    background-color: #ffffff;
    border-bottom: 4px solid #cccccc;
}

h1 {
    width: 350px;
    margin-left: 220px;
    padding: 30px;
    color: white;
    background-color:#4aaaa5;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    clear: auto 0;
}
    
ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 10px;
}

.one {
    border-right: 1px groove #e9e7e7;
}

.two {
    border-right: 1px groove #e9e7e7;
}

.main {
    width: 960px;
    height: 500px;
    margin-left: 220px;
    margin-right: 220px;
    border: 1px solid #dddddd;
    margin-top: 40px;
    background-color: #ffffff;
}


h2 {
    background-color: #ffffff;
    color: #4aaaa5;
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 4px solid #cccccc;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-right: 30px;
}

.image1 {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
}

.image2 {
    background-color: #666666;
    border: 1px solid #666666;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #ffffff;
    display: inline;
    color: #777777;
    
}

footer {
    height: 60px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    position: relative;
    top: 136px;
    line-height: 80px;
    }

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    *zoom: 1;
}